// src/styles/base/_reset.scss

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #000; // Impide que el fondo default del navegador (blanco) cause flashes
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  cursor: none;
  user-select: none;
}