// src/styles/abstracts/_variables.scss

// Colores
$color-primary: #00bcd4;
$color-secondary: #ff4081;
$color-text: #ffffff;

// Tipografía
$font-family-base: 'Work Sans', sans-serif;
$font-size-base: 16px;

// Espaciado
$spacing-unit: 8px;
