.vertical-slider-container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 7.5rem;
  
    .vertical-slider-track {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
  @media (min-width: 1080px) {
    .vertical-slider-container {
        margin-top: 0rem;
      
        .vertical-slider-track {
          
        }
      }
}